.input-form__title-profile_big {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 20px;
}

.input-form__title {
    color: #14213d;
    margin: 0;
}

.header {
    background-color: #fca311;
    padding: 10px 20px;
    color: white;
    text-align: center;
}

/* Clear floats after the header */

.header:after {
    content: "";
    display: flex;
    clear: both;
}

#todo-form {
    display: flex;
    border-top: 1px solid rgba(0, 0, 0, .1);
    padding: 10px;
}

#todo-form input {
    flex: 1;
    outline: none;
    transition: all .2s;
}

#todo-form input:focus {
    border: 1px solid #f0db4f;
}

#todo-form button {
    margin-left: 10px;
}

#todo-form button {
    background: 0 0;
    border: none;
    border-radius: 2px;
    color: black;
    position: relative;
    height: 36px;
    margin: 0;
    min-width: 64px;
    padding: 0 16px;
    display: inline-block;
    font-family: "Consolas", "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0;
    overflow: hidden;
    will-change: box-shadow;
    transition: box-shadow .2s cubic-bezier(.4, 0, 1, 1), background-color .2s cubic-bezier(.4, 0, .2, 1), color .2s cubic-bezier(.4, 0, .2, 1);
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 36px;
    vertical-align: middle;
}

/* button:hover {
    background-color: rgba(158, 158, 158, .2);
}

button:active {
    background-color: rgba(158, 158, 158, .4);
} */