body {
    background-color: #eeeeee;
    font-family: "Arial", "Times New Roman", serif;
    font-size: 14px;
}

.mainStyle {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.mainStyle__header {
    background: #eeeeee;
    padding: 20px;
    /* width: 100%; */
    border-bottom: 5px solid #fca311;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__menu-hamburger_left {
    display: none;
}

.header__title_middle {
    font-size: 24px;
}

.header__title_logout {
    font-size: 24px;
    color: black;
}

.mainStyle__container {
    height: 100vh;
    display: flex;
    background-color: white;
    width: 100%;
}

.column-left {
    background-color: #eeeeee;
}

.column-left__menuBar {
    padding: 40px;
}

.menuBar__welcomeText_black {
    color: black;
    font-size: 18px;
    text-align: center;
}

.menuBar__welcomeText_red {
    color: red;
    font-size: 18px;
    text-align: center;
}

.menuBar__options {
    height: 100%;
}

.menuBar__options-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.column-right__profile {
    background-color: #eeeeee;
    margin-top: 20px;
    margin-left: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    height: 300px;
}

.column-right__content {
    padding: 40px;
}

.input-form__profile {
    width: 526px;
}

/* .input-form__title-profile_big {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 20px;
} */

.input-form__title-profile_big {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 20px;
}

.input-form__title {
    color: #14213d;
    margin: 0;
}

.input-form__title-profile_big {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 20px;
}

.input-form__field_profile {
    margin-top: 10px;
    display: inline-flex;
    font-size: 14px;
    width: 400px;
}

.input-form__text-label-profile {
    color: #14213d;
    display: flex;
    flex-direction: row;
    font-weight: 400;
    width: 340px;
}

.input-form__text-input {
    width: 100%;
    height: 23px;
    border-radius: 2px;
    background-color: #ffffff;
    border: 1px solid #14213d;
}

.input-form__text-input:focus {
    border: 1px solid #fca311;
    outline: none;
}

.input-form__field_profile {
    margin-top: 10px;
    display: inline-flex;
    font-size: 14px;
    width: 400px;
}

.input-form__button {
    width: 100%;
    height: 30px;
    font-size: 14px;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
}

.input-form__button_orange {
    border: 1px solid #fca311;
    background-color: #fca311;
    background-image: linear-gradient(-245deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
}

.input-form__button_orange-profile {
    border: 1px solid #fca311;
    background-color: #fca311;
    background-image: linear-gradient(-245deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
    width: 150px;
}